.nav-link:hover, .btn-outline-pink:hover {
  color: white !important;
  background-color: #e91e63 !important;
}
.btn-outline-pink {
  color: #e91e63;
  border-color: #e91e63;
}
.btn-outline-white, .btn-outline-white-danger {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.btn-outline-white-danger {
  border-color: #ffcdd2;
  color: #e57373;
}
.btn-pink {
  background-color: #e91e63;
  border-color: #e91e63;
  color: white;
}
