.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}

.logo {
  height: 60px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
  color: white;
  background-color: #c2185b;
  padding: 5px 10px;
  border-radius: 25px;
}
