.bg-pink {
  background-color: #f48fb1 !important;
}

.btn-pink {
  background-color: #f06292;
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #ec407a;
}

.btn-outline-pink {
  border: 1px solid #f06292;
  color: #f06292;
}

.btn-outline-pink:hover {
  background-color: #f8bbd0;
  color: white;
}
