<div class="container py-5" style="max-width:400px;">
  <h1 class="mb-4 text-center">Acceso de Administrador</h1>
  <form (ngSubmit)="onSubmit()" #adminForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">Usuario *</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        required
        [(ngModel)]="username"
      />
      <div class="invalid-feedback" *ngIf="adminForm.submitted && !username">
        Debes ingresar tu usuario.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña *</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
        [(ngModel)]="password"
      />
      <div class="invalid-feedback" *ngIf="adminForm.submitted && !password">
        Debes ingresar tu contraseña.
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    <div class="alert alert-danger mt-3" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
